.inner.cover{
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url("./images/paper-3213924_1280.jpg") center center no-repeat;
    min-height: 800px;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    min-height: 900px;
    opacity: 0.7;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    color: white;
    font-size: 3.5em;
    
}
.header{
    position: absolute;
    top:0 ;
    left:0 ;
    right:0 ;
    
}

/* /* .cover-heading{
    text-transform: uppercase;
    color: white;
    font-size: 3.5em;*/
 

#body{
   height: 100%;
   width: 100%;
   font-family:helvetica sans-serif;
   font-size: 20px;
   

}

.cover-heading{
    display: block;
    text-align: center;
    justify-content: center;
    color: #000;
    font-size: 36px;
    line-height: 48px;
}


.navbar.navbar-expand-lg.navbar-light a {
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    color: #000;
    float: right;
    margin-top: 50px;
}


p.lead{
    padding: 100px;
    color: #000;
    
}

.container.marketing{
    padding-top: 100px;
    background-color: lightsteelblue;
    max-width: 100%;
    padding-right: 50px;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}


.blog-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 45px;
}

.blog-carousel .owl-nav .owl-prev { left: -45px; }

.blog-carousel .owl-nav .owl-next { right: -45px; }

.blog-carousel .owl-stage { padding-bottom: 20px; }


.go-hiking .row:nth-child(2) .card-icon::before { content: url("../images/image-01.png"); }

.go-hiking .row:nth-child(3) .card-icon::before { content: url("../images/image-02.png"); }

.go-hiking .row:nth-child(4) .card-icon::before { content: url("../images/image-03.png"); }

.counter { max-width: 300px; }

.item { padding: 30px; }

.card-lg {
    border-radius: 20px;
    overflow: hidden;
}

.section-md{
    background-image: url("./images/elegant-modern-abstract-soft-colors-background_1017-17415.jpg");
    opacity: 0.8;
}




.page-footer.font-small.stylish-color-dark.pt-4{
    background-color: darkblue;
    color: #000;

}
